@import "~bootstrap/dist/css/bootstrap.min";

body {
  padding-top: 56px;
}

.card-link:hover {
  box-shadow: 0 0 4px #000;
}

.cursor-pointer {
  cursor: pointer;
}

.btn-outline-success.focus, .btn-outline-success:focus,
.btn-outline-danger.focus, .btn-outline-danger:focus,
.btn-outline-secondary.focus, .btn-outline-secondary:focus, {
  box-shadow: none !important;
}

.font-time {
  font-size: 220px;
}
