@import '~bootswatch/dist/materia/_variables.scss';
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootswatch/dist/materia/_bootswatch.scss';

// GENERAL
body {
  font-family: 'Roboto';
}

// CURSOR
.cursor {
  &-pointer {
    cursor: pointer;
  }
  &-hover:hover {
    transform: scale(1.05);
    transition: transform .1s linear;
  }
}


// Z-INDEXES
.zi {
  &-0 { z-index: 0; }
  &-1 { z-index: 100; }
  &-2 { z-index: 200; }
  &-3 { z-index: 300; }
  &-4 { z-index: 400; }
  &-5 { z-index: 500; }
  &-6 { z-index: 600; }
  &-7 { z-index: 700; }
  &-8 { z-index: 800; }
  &-9 { z-index: 900; }
  &-10 { z-index: 1000; }  // Modal backdrop
  &-11 { z-index: 1100; }  // Modal dialog
  &-12 { z-index: 1200; }
  &-13 { z-index: 1300; }  // Waiting backdrop
  &-14 { z-index: 1400; }  // Waiting dialog
}

// NAVBAR
.navbar {
  .dropdown-menu {
    left: unset;
    right: 0;
  }
}

// FONT-AWESOME
.svg-inline--fa {
  min-width: 1.2em;
}
